<html lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>{{title}}</title>
</head>
<h2 align="center">测试时间：{{test_time}}</h2>
<h2 align="center">用例数：{{total_case}}</h2>
<h2 align="center">成功数：{{successful_number}}&nbsp;&nbsp;&nbsp;&nbsp;成功率：{{successful_number_rate}}%</h2>
<h2 align="center">失败数：{{failed_number}}&nbsp;&nbsp;&nbsp;&nbsp;失败率：{{failed_number_rate}}%</h2>



    <table border="1" width = "90%" cellspacing='0' cellpadding='0' align="center">
    <tr>
        <th style="background-color: aquamarine">编号</th>
        <th style="background-color: aquamarine; font-weight: bold; color: blue;">用例名称</th>
        <th style="background-color: aquamarine">执行步骤</th>
        <th style="background-color: aquamarine">报错信息</th>
        <th style="background-color: aquamarine">校验关键字</th>
<!--        <th>校验结果</th>-->
        <th style="background-color: aquamarine">总结果</th>
    </tr>

    {% for item in items %}
    <tr align='center'>
        <td>{{ item.number }}</td>
        <td style="font-weight: bold; color: blue;">{{ item.case_name }}</td>
        <td>{{item.run_step}}</td>
        {% if item.error_info=='无'%}
        <td>{{ item.error_info }}</td>
        {% else %}
        <td style="color: red;">{{ item.error_info }}</td>
        {% endif %}
        <td>{{ item.verify_keyword }}</td>
        {% if item.result=='失败'%}
            <td bgcolor="red">{{ item.result }}</td>
        {% else %}
            <td bgcolor="#adff2f">{{ item.result }}</td>
        {% endif %}
<!--        <td>{{ item.verify_res }}</td>-->
    </tr>
    {% endfor%}

    </table>
    </body>
</html>